<p id="notice"><%= notice %></p>

<p>
  <strong>Lab:</strong>
  <%= @registration.lab %>
</p>

<p>
  <strong>String:</strong>
  <%= @registration.string %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
